@for $i from 1 through 100{
    .p-#{$i}{
        padding: $i+px !important;
    }
    .w-#{$i}{
        width: $i*1% !important;
    }
    .f-#{$i}{
        font-size: $i+px !important;
    }

    .d-middle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
